.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding-top: 75px;
  padding-bottom: 20px;
}

.our-logo {
    max-width: 40px;
    max-height: 40px;
    margin-top: -11px;
}

.my-alert {
    display: none;
}

.my-alert-active {
    display: block;
}

.my-theader {
    background: #efefef;
}

.my-tsum {
    background: #f7f7f7;
}
