<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>Connected Worldwide</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/main.css">

    <link rel="apple-touch-icon" sizes="57x57" href="apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-120x120.png">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="manifest.json">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" content="#ffffff">
</head>
<body ng-app="connectedWorldwideApp">
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/">
                    <img class="our-logo" alt="logo" src="img/logo.png" />
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse" ng-controller="MainCtrl">
                <ul class="nav navbar-nav navbar-left">
                    <li ng-class="{active:isActive('/')}"><a href="#/">Home</a></li>
                    <!-- <li ng-class="{active:isActive('/about')}"><a href="#/about">About</a></li>
                    <li ng-class="{active:isActive('/contact')}"><a href="#/contact">Contact</a></li> -->
                    <li ng-class="{active:isActive('/service')}" ng-if="ctrl.userLogged()"><a href="#/service">Services</a></li>
                    <li ng-class="{active:isActive('/package')}" ng-if="ctrl.userLogged()"><a href="#/package">Packages</a></li>
                    <li ng-class="{active:isActive('/users')}" ng-if="ctrl.userLogged() && !ctrl.isCustomer()"><a href="#/users">Users</a></li>
                </ul>

                <a href="#/signup" ng-if="!ctrl.userLogged()" type="button" class="btn btn-default navbar-btn navbar-right">Sign Up</a>
                <a href="#/logout" ng-if="ctrl.userLogged()" type="button" class="btn btn-default navbar-btn navbar-right">Log Out</a>

                <ul class="nav navbar-nav navbar-right">
                    <li ng-if="!ctrl.userLogged()" ng-class="{active:isActive('/login')}"><a href="#/login">Log In</a></li>
                    <li class="dropdown" ng-if="ctrl.userLogged()" ng-class="{active:isActive('/account')||isActive('/bill')}">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">My Account <span class= "caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#/account">Account</a></li>
                            <li ng-if="ctrl.isCustomer()"><a href="#/bill">Bill</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container" ng-view=""></div>

    <!-- <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-XXXXX-X');
ga('send', 'pageview');
</script> -->

<!-- build:js(.) scripts/oldieshim.js -->
<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<![endif]-->
<!-- endbuild -->

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/parse/parse.min.js"></script>
<script src="bower_components/chance/chance.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/utilities/checkForm.js"></script>

<script src="scripts/app.js"></script>

<script src="scripts/presenters/account.js"></script>
<script src="scripts/presenters/login.js"></script>
<script src="scripts/presenters/signUp.js"></script>
<script src="scripts/presenters/service.js"></script>
<script src="scripts/presenters/package.js"></script>
<script src="scripts/presenters/bill.js"></script>
<script src="scripts/presenters/users.js"></script>

<script src="scripts/interactors/account.js"></script>
<script src="scripts/interactors/logIn.js"></script>
<script src="scripts/interactors/logOut.js"></script>
<script src="scripts/interactors/main.js"></script>
<script src="scripts/interactors/signUp.js"></script>
<script src="scripts/interactors/bill.js"></script>
<script src="scripts/interactors/service.js"></script>
<script src="scripts/interactors/package.js"></script>
<script src="scripts/interactors/users.js"></script>

<script src="scripts/dataStores/User.js"></script>
<script src="scripts/dataStores/LoginRecord.js"></script>
<script src="scripts/dataStores/service.js"></script>
<script src="scripts/dataStores/package.js"></script>

<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/about.js"></script>
<script src="scripts/controllers/contact.js"></script>
<script src="scripts/controllers/signUp.js"></script>
<script src="scripts/controllers/logIn.js"></script>
<script src="scripts/controllers/logOut.js"></script>
<script src="scripts/controllers/account.js"></script>
<script src="scripts/controllers/service.js"></script>
<script src="scripts/controllers/package.js"></script>
<script src="scripts/controllers/bill.js"></script>
<script src="scripts/controllers/users.js"></script>
<!-- endbuild -->
</body>
</html>
