
<div class="panel panel-default">
    <div class="panel-heading">Account</div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Account type</label>
                <div class="col-sm-10">
                    <p class="form-control-static">{{user.userType}}</p>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <address>
                    <strong>{{user.firstname}} {{user.name}}</strong><br/>
                    <span ng-if="user.role == 'RetailCustomer' || user.role == 'CommercialCustomer'">{{user.address}}<br/>
                        {{user.city}}, {{user.state}} {{user.zip}}<br/>
                        <abbr title="Email">E:</abbr> {{user.email}}</span>
                </address>
            </div>
        </div>
    </div>
</div>

<div class="alert alert-danger my-alert" role="alert" id="statusMessage"></div>

<div class="panel panel-default">
    <div class="panel-heading">Change Password</div>
    <div class="panel-body">
        <form class="form-horizontal" name="changePasswordForm" ng-submit="ctlr.changePassword(infos)">
            <div class="form-group">
                <label for="inputPassword" class="col-sm-2 control-label">New password</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">?</span>
                        <input class="form-control" required="required" type="password" id="inputPassword" ng-model="infos.password" name="password" password-strength="infos.password" placeholder="******" />
                    </div>
                </div>
                <div class="col-sm-offset-2 col-sm-10">
                    <span id="strengthBlock" class="help-block">Password strength: <span class="label label-info">{{strength}}</span></span>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword2" class="col-sm-2 control-label">Repeat password</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2">?</span>
                        <input class="form-control" required="required" type="password" id="inputPassword2" ng-model="infos.checkPassword" name="checkPassword" placeholder="******" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default btn-warning">Change password</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="panel panel-default" ng-if="user.role == 'RetailCustomer' || user.role == 'CommercialCustomer'">
  <div class="panel-heading">Settings</div>
  <div class="panel-body">
    <form class="form-horizontal" name="changePasswordForm" ng-submit="ctlr.changeMaxAccountBalance(user.maxAccountBalance)">
      <div class="form-group">
          <label for="inputPassword" class="col-sm-2 control-label">Max account balance</label>
          <div class="col-sm-10">
              <div class="input-group">
                <input class="form-control" required="required" type="number" id="inputMaxAccountBalance" ng-model="user.maxAccountBalance" name="inputMaxAccountBalance" />
              </div>
          </div>
      </div>
      <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default btn-warning">Change maximum account balance</button>
          </div>
      </div>
    </form>
  </div>
</div>
