<div class="panel panel-default">
    <div class="panel-heading">Bill</div>
    <table class="table table-hover">
        <tr class="my-theader">
            <th>Service</th>
            <th>Price</th>
        </tr>
        <tr ng-repeat="service in mySubs.services">
            <td>{{service.name}}</td>
            <td>{{service.price}}</td>
        </tr>
        <tr class="my-theader">
            <th>Package</th>
            <th>Price</th>
        </tr>
        <tr ng-repeat="package in mySubs.packages">
            <td>{{package.name}}</td>
            <td>{{package.price}}</td>
        </tr>
        <tr class="my-theader">
          <th>Fees</th>
          <th></th>
        </tr>
        <tr class="my-tsum">
            <td></td>
            <td>{{mySubs.fees}}</td>
        </tr>
        <tr class="my-theader">
            <th>Total</th>
            <th></th>
        </tr>
        <tr class="my-tsum">
            <td></td>
            <td>{{mySubs.total}}</td>
        </tr>
    </table>
</div>
