<div class="alert alert-danger my-alert" role="alert" id="statusMessage"></div>

<div class="panel panel-default">
    <div class="panel-heading">Log In</div>
    <div class="panel-body">
        <form class="form-horizontal" class="form-login" name="LogInForm" ng-submit="ctrl.logIn(user)">
            <div class="form-group">
                <label for="inputUsername" class="col-sm-2 control-label">Username</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">@</span>
                        <input type="email" required="required" id="inputUsername" class="form-control" placeholder="name@domain.tld" ng-model="user.email">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon3">?</span>
                        <input type="password" required="required" id="inputPassword" class="form-control" placeholder="******" ng-model="user.password">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default btn-primary">Log in</button>
                </div>
            </div>
        </form>
    </div>
</div>

<hr>

<div class="alert alert-danger my-alert" role="alert" id="statusMessageRequestPassword"></div>

<div class="panel panel-default">
    <div class="panel-heading">Request new password</div>
    <div class="panel-body">
        <form class="form-horizontal" class="form-request" name="ForgotPasswordForm" ng-submit="ctrl.requestPassword(email)">
            <div class="form-group">
                <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2">@</span>
                        <input type="email" required="required" id="inputEmail" class="form-control" placeholder="name@domain.tld" ng-model="email">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default btn-warning">Request new password</button>
                </div>
            </div>
        </form>
    </div>
</div>
