<div class="jumbotron text-center">
  <h1>Telegroup Communications</h1>
  <p>Welcome to Telegroup Communications, where you can connect to the world using our
  award winning services at the best price!</p>
</div>
