<div class="alert alert-danger my-alert" role="alert" id="statusMessage"></div>

<div ng-if ="user.role == 'RetailCustomer' || user.role == 'CommercialCustomer'">
    <div class="panel panel-default">
        <div class="panel-heading">My packages</div>
        <table class="table table-striped table-hover">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price ($)</th>
                <th>Duration (days)</th>
                <th>Services included</th>
                <th></th>
            </tr>
            <tr ng-repeat="package in myPackages">
                <td>{{package.name}}</td>
                <td>{{package.description}}</td>
                <td>{{package.price}}</td>
                <td>{{package.duration}}</td>
                <td>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="serv in package.services">
                            {{serv.name}}
                        </li>
                    </ul>
                </td>
                <td><button class="btn btn-danger" type="button" ng-click="ctrl.cancelPackage('{{package.name}}')">Cancel</button></td>
            </tr>
        </table>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Available packages</div>
        <table class="table table-striped table-hover">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price ($)</th>
                <th>Duration (days)</th>
                <th>Services included</th>
                <th></th>
            </tr>
            <tr ng-repeat="package in av.packages" ng-if="package.available == true">
                <td>{{package.name}}</td>
                <td>{{package.description}}</td>
                <td>{{package.price}}</td>
                <td>{{package.duration}}</td>
                <td>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="serv in package.services">
                            {{serv.name}}
                        </li>
                    </ul>
                </td>
                <td><button class="btn btn-success" type="button" ng-click="ctrl.addPackage('{{package.name}}')">Subscribe</button></td>
            </tr>
        </table>
    </div>
</div>

<div ng-if ="user.role == 'CustomerRep'">
    <div class="panel panel-default">
        <div class="panel-heading">Packages for customer</div>

        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="customerInput" class="col-sm-2 control-label">Select a customer</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="customerInput" ng-options="customer as customer.fullname for customer in Customers" ng-model="selectedCustomer"></select>
                    </div>
                </div>
            </form>
        </div>

        <table class="table table-striped table-hover">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price ($)</th>
                <th>Duration (days)</th>
                <th>Services included</th>
                <th></th>
            </tr>
            <tr ng-repeat="pkg in selectedCustomer.packages">
                <td>{{pkg.name}}</td>
                <td>{{pkg.description}}</td>
                <td>{{pkg.price}}</td>
                <td>{{pkg.duration}}</td>
                <td>
                    <ul class="list-group" ng-init="ctrl.findServices(pkg, av.services)">
                        <li class="list-group-item" ng-repeat="serv in pkg.services">
                            {{serv.name}}
                        </li>
                    </ul>
                </td>
                <td><button class="btn btn-danger" ng-click="ctrl.deletePackageToCustomer('{{pkg.name}}', selectedCustomer.username)">Cancel</button></td>
            </tr>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price ($)</th>
                <th>Duration (days)</th>
                <th>Services included</th>
                <th></th>
            </tr>
            <tr ng-repeat="package in av.packages" ng-if="package.available == true">
                <td>{{package.name}}</td>
                <td>{{package.description}}</td>
                <td>{{package.price}}</td>
                <td>{{package.duration}}</td>
                <td>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="serv in package.services">
                            {{serv.name}}
                        </li>
                    </ul>
                </td>
                <td><button class="btn btn-success" type="button" ng-click="ctrl.addPackageToCustomer('{{package.name}}', selectedCustomer.username)">Subscribe</button></td>
            </tr>
        </table>
    </div>
</div>

<div ng-if ="user.role == 'MarketingRep'">
    <div class="panel panel-default">
        <div class="panel-heading">Packages</div>
        <table class="table table-striped table-hover">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price ($)</th>
                <th>Duration (days)</th>
                <th>Services included</th>
                <th>Available</th>
                <th></th>
            </tr>
            <tr ng-repeat="package in av.packages">
                <td>{{package.name}}</td>
                <td>{{package.description}}</td>
                <td>{{package.price}}</td>
                <td>{{package.duration}}</td>
                <td>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="serv in package.services">
                            {{serv.name}}
                        </li>
                    </ul>
                </td>
                <td>{{package.available}}</td>
                <td><button class="btn btn-danger" type="button" ng-click="ctrl.deletePackage('{{package.name}}')">Delete</button></td>
            </tr>
        </table>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Create a package</div>
        <div class="panel-body">
            <form class="form-horizontal" ng-submit="ctrl.createPackage({pName: pName, pDuration: pDuration, pDescription: pDescription, pPrice: pPrice, pServices: addPkgSrv})">
                <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input class="form-control" required="required" placeholder="All included, Premium pack ..." id="inputName" type="text" ng-model="pName" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputDescription" class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-10">
                        <input class="form-control" required="required" placeholder="This package offers ..." id="inputDescription" type="text" ng-model="pDescription" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPrice" class="col-sm-2 control-label">Price</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input class="form-control" required="required" placeholder="9.99" id="inputPrice" type="number" min="0" step="any" ng-model="pPrice" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputDuration" class="col-sm-2 control-label">Duration</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon">days</span>
                            <input class="form-control" required="required" placeholder="42" id="inputDuration" type="number" min="1" ng-model="pDuration" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputServices" class="col-sm-2 control-label">Services</label>
                    <div class="col-sm-10">
                        <table class="table table-striped table-hover">
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Price</th>
                            </tr>
                            <tr ng-repeat="service in av.services">
                                <td><input type="checkbox" name="services" value="service.name" ng-model="addPkgSrv[service.name]"/></td>
                                <td>{{service.name}}</td>
                                <td>{{service.price}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default btn-success">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Edit a package</div>
        <div class="panel-body">
            <form class="form-horizontal" ng-submit="ctrl.modifyPackage(selectedPackage, modifyPkgSrv)">
                <div class="form-group">
                    <label for="packageInput" class="col-sm-2 control-label">Select a package</label>
                    <div class="col-sm-10">
                        <select id="packageInput" ng-options="package as package.name for package in av.packages" ng-model="selectedPackage" ng-change="ctrl.setServicesCheck(selectedPackage)"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputDescription2" class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-10">
                        <input class="form-control" required="required" disabled="disabled" id="inputDescription2" type="text" ng-model="selectedPackage.description" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPrice2" class="col-sm-2 control-label">Price</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input class="form-control" required="required" disabled="disabled" id="inputPrice2" type="number" min="0" ng-model="selectedPackage.price">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputDuration2" class="col-sm-2 control-label">Duration</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon">days</span>
                            <input class="form-control" required="required" disabled="disabled" id="inputDuration2" type="number" min="1" ng-model="selectedPackage.duration" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputServices" class="col-sm-2 control-label">Services</label>
                    <div class="col-sm-10">
                        <table class="table table-striped table-hover">
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Price</th>
                            </tr>
                            <tr ng-repeat="service in av.services">
                                <td><input type="checkbox" name="modifiedServices" value="service.name"  ng-model="modifyPkgSrv[service.name]" ng-checked="ctrl.isServiceInPackage(service.name, selectedPackage)" /></td>
                                <td>{{service.name}}</td>
                                <td>{{service.price}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default btn-warning">Edit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
