<div class="alert alert-danger my-alert" role="alert" id="statusMessage"></div>

<div ng-if ="user.role == 'RetailCustomer' || user.role == 'CommercialCustomer'">
    <div class="panel panel-default">
        <div class="panel-heading">My services</div>
        <table class="table table-striped table-hover">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price ($)</th>
                <th>Duration (days)</th>
                <th></th>
            </tr>
            <tr ng-repeat="service in myServices">
                <td>{{service.name}}</td>
                <td>{{service.description}}</td>
                <td>{{service.price}}</td>
                <td>{{service.duration}}</td>
                <td><button class="btn btn-danger" type="button" ng-click="ctrl.cancelService('{{service.name}}')">Cancel</button></td>
            </tr>
        </table>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Available services</h2></div>
        <table class="table table-striped table-hover">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price ($)</th>
                <th>Duration (days)</th>
                <th></th>
            </tr>
            <tr ng-repeat="service in avServices" ng-if="service.available == true">
                <td>{{service.name}}</td>
                <td>{{service.description}}</td>
                <td>{{service.price}}</td>
                <td>{{service.duration}}</td>
                <td><button class="btn btn-success" type="button" ng-click="ctrl.addService('{{service.name}}')">Subscribe</button></td>
            </tr>
        </table>
    </div>
</div>

<div ng-if ="user.role == 'CustomerRep'">
    <div class="panel panel-default">
        <div class="panel-heading">Services for customer</div>

        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="customerInput" class="col-sm-2 control-label">Select a customer</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="customerInput" ng-options="customer as customer.fullname for customer in Customers" ng-model="selectedCustomer"></select>
                    </div>
                </div>
            </form>
        </div>

        <table class="table table-striped table-hover">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price ($)</th>
                <th>Duration (days)</th>
                <th></th>
            </tr>
            <tr ng-repeat="service in selectedCustomer.services">
                <td>{{service.name}}</td>
                <td>{{service.description}}</td>
                <td>{{service.price}}</td>
                <td>{{service.duration}}</td>
                <td><button class="btn btn-danger" type="button" ng-click="ctrl.deleteServiceToCustomer('{{service.name}}', selectedCustomer.username)">Cancel</button></td>
            </tr>

            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price ($)</th>
                <th>Duration (days)</th>
                <th></th>
            </tr>
            <tr ng-repeat="service in avServices" ng-if="service.available == true">
                <td>{{service.name}}</td>
                <td>{{service.description}}</td>
                <td>{{service.price}}</td>
                <td>{{service.duration}}</td>
                <td><button class="btn btn-success" type="button" ng-click="ctrl.addServiceToCustomer('{{service.name}}', selectedCustomer.username)">Subscribe</button></td>
            </tr>
        </table>
    </div>
</div>

<div ng-if ="user.role == 'MarketingRep'">
    <div class="panel panel-default">
        <div class="panel-heading">Services</div>
        <table class="table table-striped table-hover">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price ($)</th>
                <th>Duration (days)</th>
                <th>Available</th>
                <th></th>
            </tr>
            <tr ng-repeat="service in avServices">
                <td>{{service.name}}</td>
                <td>{{service.description}}</td>
                <td>{{service.price}}</td>
                <td>{{service.duration}}</td>
                <td>{{service.available}}</td>
                <td><button class="btn btn-danger" type="button" ng-click="ctrl.deleteService('{{service.name}}')">Delete</button></td>
            </tr>
        </table>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Create a service</div>

        <div class="panel-body">
        <form class="form-horizontal" ng-submit="ctrl.createService({sName: serviceName, sDuration: serviceDuration, sDescription: serviceDescription, sPrice: servicePrice})">
            <div class="form-group">
                <label for="inputName" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input class="form-control" required="required" placeholder="Phone, TV, Internet ..." id="inputName" type="text" ng-model="serviceName" />
                </div>
            </div>
            <div class="form-group">
                <label for="inputDescription" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                    <input class="form-control" required="required" placeholder="This service offers ..." id="inputDescription" type="text" ng-model="serviceDescription" />
                </div>
            </div>
            <div class="form-group">
                <label for="inputPrice" class="col-sm-2 control-label">Price</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input class="form-control" required="required" placeholder="9.99" id="inputPrice" type="number" step="any" ng-model="servicePrice" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputDuration" class="col-sm-2 control-label">Duration</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon">days</span>
                        <input class="form-control" required="required" placeholder="42" id="inputDuration" type="number" ng-model="serviceDuration" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default btn-success">Create</button>
                </div>
            </div>
        </form>
    </div>
</div>
