<div class="alert alert-danger my-alert" role="alert" id="statusMessage"></div>

<div class="panel panel-default">
    <div class="panel-heading">Sign Up</div>
    <div class="panel-body">
        <form class="form-horizontal" class="form-login" name="signUpForm" ng-submit="ctrl.signUp(user)">
            <div class="form-group">
                <label for="inputType" class="col-sm-2 control-label">Type</label>
                <div class="col-sm-10">
                    <select  class="form-control" id="inputType" ng-model="user.accountType" name="accounttype">
                        <option value="retail">Individual</option>
                        <option value="commercial">Commercial</option>
                    </select>
                </div>
            </div>
            <div ng-if="ctrl.isRetail(user)">
                <div class="form-group">
                    <label for="inputFirstName" class="col-sm-2 control-label">Full name</label>
                    <div class="col-sm-5">
                        <input class="form-control" required="required" type="text" id="inputFirstName" ng-model="user.firstName" name="firstname" placeholder="First name" />
                    </div>
                    <div class="col-sm-5">
                        <input class="form-control" required="required" type="text" id="inputLastName" ng-model="user.lastName" name="lastname" placeholder="Last name" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputBirthday" class="col-sm-2 control-label">Birthday</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon">date</span>
                            <input class="form-control" required="required" type="date" id="inputBirthday" ng-model="user.birthday" name="birthday" placeholder="1970-01-01" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-if="ctrl.isCommercial(user)">
                <label for="inputName" class="col-sm-2 control-label">Company name</label>
                <div class="col-sm-10">
                    <input class="form-control" required="required" type="text" id="inputCompanyName" ng-model="user.lastName" name="lastname" placeholder="Megadodo Publications" />
                </div>
            </div>
            <div ng-show="ctrl.hasAType(user)">
                <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">@</span>
                            <input class="form-control" required="required" type="email" id="inputEmail" ng-model="user.email" name="email" placeholder="name@domain.tld" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon3">?</span>
                            <input class="form-control" required="required" type="password" id="inputPassword" ng-model="user.password" name="password" placeholder="******" password-strength="user.password" aria-describedby="strengthBlock" />
                        </div>
                    </div>
                    <div class="col-sm-offset-2 col-sm-10">
                        <span id="strengthBlock" class="help-block">Password strength: <span class="label label-info">{{strength}}</span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAddress" class="col-sm-2 control-label">Address</label>
                    <div class="col-sm-10">
                        <input class="form-control" required="required" type="text" id="inputAddress" ng-model="user.address" name="address" placeholder="29 Arlington Avenue" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputCity" class="col-sm-2 control-label">City</label>
                    <div class="col-sm-4">
                        <input class="form-control" required="required" type="text" id="inputCity" ng-model="user.city" name="city" placeholder="Islington" />
                    </div>
                    <label for="inputState" class="col-sm-1 control-label">State</label>
                    <div class="col-sm-2">
                        <input class="form-control" required="required" type="text" id="inputState" ng-model="user.state" name="state" placeholder="CA" />
                    </div>
                    <label for="inputZip" class="col-sm-1 control-label">Zip Code</label>
                    <div class="col-sm-2">
                        <input class="form-control" required="required" type="number" min="0" id="inputZip" ng-model="user.zip" name="zip" placeholder="101010" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default btn-success">Register</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
