<div class="alert alert-danger my-alert" role="alert" id="statusMessage"></div>

<div ng-if="user.role == 'MarketingRep'" class="panel panel-default">
    <div class="panel-heading">Create Marketing Representative</div>
    <div class="panel-body">
        <form class="form-horizontal" ng-submit="ctrl.createMarketingRep(user1)">
            <div class="form-group">
                <label for="inputFirstName1" class="col-sm-2 control-label">Full name</label>
                <div class="col-sm-5">
                    <input class="form-control" required="required" type="text" id="inputFirstName1" ng-model="user1.firstName" name="firstname" placeholder="First name" />
                </div>
                <div class="col-sm-5">
                    <input class="form-control" required="required" type="text" id="inputLastName1" ng-model="user1.lastName" name="lastname" placeholder="Last name" />
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail1" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">@</span>
                        <input class="form-control" required="required" type="email" id="inputEmail1" ng-model="user1.email" name="email" placeholder="Email address" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default btn-success">Create</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div ng-if="user.role == 'CustomerRep' || user.role == 'MarketingRep'" class="panel panel-default">
    <div class="panel-heading">Create Customer Representative</div>
    <div class="panel-body">
        <form class="form-horizontal" ng-submit="ctrl.createCustomerRep(user2)">
            <div class="form-group">
                <label for="inputFirstName2" class="col-sm-2 control-label">Full name</label>
                <div class="col-sm-5">
                    <input class="form-control" required="required" type="text" id="inputFirstName2" ng-model="user2.firstName" name="firstname" placeholder="First name" />
                </div>
                <div class="col-sm-5">
                    <input class="form-control" required="required" type="text" id="inputLastName2" ng-model="user2.lastName" name="lastname" placeholder="Last name" />
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail2" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2">@</span>
                        <input class="form-control" required="required" type="email" id="inputEmail2" ng-model="user2.email" name="email" placeholder="Email address" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default btn-success">Create</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div ng-if="user.role == 'CustomerRep'" class="panel panel-default">
    <div class="panel-heading">Create User</div>
    <div class="panel-body">
        <form class="form-horizontal" ng-submit="ctrl.createCustomer(user)">
            <div class="form-group">
                <label for="inputType" class="col-sm-2 control-label">Type</label>
                <div class="col-sm-10">
                    <select  class="form-control" id="inputType" ng-model="user.accountType" name="accounttype">
                        <option value="retail">Individual</option>
                        <option value="commercial">Commercial</option>
                    </select>
                </div>
            </div>
            <div class="form-group" ng-if="ctrl.isRetail(user)">
                <label for="inputFirstName" class="col-sm-2 control-label">Full name</label>
                <div class="col-sm-5">
                    <input class="form-control" required="required" type="text" id="inputFirstName" ng-model="user.firstName" name="firstname" placeholder="First name" />
                </div>
                <div class="col-sm-5">
                    <input class="form-control" required="required" type="text" id="inputLastName" ng-model="user.lastName" name="lastname" placeholder="Last name" />
                </div>
            </div>
            <div class="form-group" ng-if="ctrl.isCommercial(user)">
                <label for="inputName" class="col-sm-2 control-label">Company name</label>
                <div class="col-sm-10">
                    <input class="form-control" required="required" type="text" id="inputCompanyName" ng-model="user.lastName" name="lastname" placeholder="Company name" />
                </div>
            </div>
            <div ng-show="ctrl.hasAType(user)">
                <div class="form-group">
                    <label for="inputBirthday" class="col-sm-2 control-label">Birthday</label>
                    <div class="col-sm-10">
                        <input class="form-control" required="required" type="date" id="inputBirthday" ng-model="user.birthday" name="birthday" placeholder="1970-01-01" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon3">@</span>
                            <input class="form-control" required="required" type="email" id="inputEmail" ng-model="user.email" name="email" placeholder="Email address" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAddress" class="col-sm-2 control-label">Address</label>
                    <div class="col-sm-10">
                        <input class="form-control" required="required" type="text" id="inputAddress" ng-model="user.address" name="address" placeholder="Address" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputCity" class="col-sm-2 control-label">City</label>
                    <div class="col-sm-4">
                        <input class="form-control" required="required" type="text" id="inputCity" ng-model="user.city" name="city" placeholder="City" />
                    </div>
                    <label for="inputState" class="col-sm-1 control-label">State</label>
                    <div class="col-sm-2">
                        <input class="form-control" required="required" type="text" id="inputState" ng-model="user.state" name="state" placeholder="State" />
                    </div>
                    <label for="inputZip" class="col-sm-1 control-label">Zip Code</label>
                    <div class="col-sm-2">
                        <input class="form-control" required="required" type="number" id="inputZip" ng-model="user.zip" name="zip" placeholder="Zip Code" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default btn-success">Create</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
